[submodule "zsh-custom/themes/powerlevel10k"]
	path = zsh-custom/themes/powerlevel10k
	url = https://github.com/bhilburn/powerlevel10k.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
