[include]
  path = ~/darkroom/.gitconfig-work

[web]
   browser = google-chrome

[core]
    editor = sublime --project ~/dotfiles/.gitconfig.sublime-project --wait
[user]
	name = Benjamin Roth
	email = roth.benjamin@gmail.com
