# General
*.log

# Mac OSX
.DS_Store

# Windows
Thumbs.db

# Sublime
.gitconfig.sublime-workspace

# Intellij
.idea/
http-client.private.env.json

# SDKman auto init
.sdkmanrc

# Azure jump host file
az_ssh_config
jump-config
